@keyframes fade-in {
    0% {opacity: 0;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes slideUp {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(250%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-250%);
    }

    100% {
        transform: translateX(0%);
    }
}

.contain {
    position: relative;
    width: 100%;
    height: 100%;
}
.overLay1 {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 100px;
    right: 0;
    height: 100%;
    width: 100%;
    color: rgb(255, 0, 179);
    animation: fade-in;
    animation-duration: 1s;
    -webkit-animation: fade-in 1s;
}
.overLay2 {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 100px;
    right: 0;
    height: 100%;
    width: 100%;
    color: rgb(1, 134, 41);
    animation: slideLeft 1.5s ease-out;
}
.overLay3 {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 100px;
    right: 0;
    height: 100%;
    width: 100%;
    color: rgb(146, 146, 240);
    animation: slideRight 1.5s ease-out;
}
.overLay4 {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 100px;
    right: 0;
    height: 100%;
    width: 100%;
    color: rgb(209, 112, 112);
    animation: slideUp 1.5s ease-out;
}
.overLay5 {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 50px;
    right: 0;
    height: 100%;
    width: 100%;
    color: rgb(209, 112, 112);
    animation: slideLeft 1.5s ease-out;
}

.imageOut {
    /*display: block;*/
    height: 100%;
    width: 100%;
}

.imageAvatar {
    position: absolute;
    top: 40px;
    left: 300px;
    width: 100px;
    height: 100px;
}
.imageOut2 {
    /*display: block;*/
    height: 100%;
    width: 100%;
    opacity: 1;
}
#canvas {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.blur {
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}
:root .blur {
    display: none; /* IE9+, Firefox, Chrome, Opera - hidden */
    filter: none; /* no IE9 */
}

.overLay6 {
    position: absolute;
    top: 400px;
    bottom: 0;
    left: 50px;
    right: 0;
    height: 100%;
    width: 100%;
    color: rgb(209, 112, 112);
    animation: fade-in 3s;
}
.snowfall-flakes:before,.snowfall-flakes:after{
    content:'';  /* 伪类必须添加content属性 */
    position:absolute;
    width:19px;
    height:32px;
    background:red;
    border-radius:10px 10px 0 0;
    transform:rotate(-45deg);
}
.snowfall-flakes:after{
    content:'';				
    left:9px;				
    transform:rotate(45deg);
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }